<!doctype html>
<!-- public/views/about.html -->
<h1>About</h1>
<div>This site uses the Riot Games API to collect an analyze data concerning champion masteries. The site is divided in two major parts.</div>
<h2>Home</h2>
<div>Researching a single summoner with all its summoner masteries. This feature is available for every region. The data can then be sorted by champion points, missing points to the next level or the current standing in the region if available.</div>
<h2>Regions</h2>
<div>This site uses Game data of 2 servers to create an overview over the players in this regions. The collected data is used to show comparison values in the Home tab aswell. The servers used are: Europe West (EUW) and North America (NA).</div>
<br/>
<div>Currently a total of approximately 4,000 summoners are on file. This includes:</div>
<ul>
    <li>Most popular Champions by accumulated champion points</li>
    <li>Player ranking on a single champion</li>
    <li>Average and total champion points on a champion</li>
</ul>
<h2>Development</h2>
<div>If you like to see some details about the implementation head over to <a href="https://github.com/lordpomeroy/pure-cliffs-83291">GitHub</a> to browse the source code and learn about the development aspects.</div>
<h2>Disclaimer</h2>
<div>This site was created as part of the API Challenge 2016 created by Riot Games. The Author doesn't reflect the views or opinions of Riot Games. All images used are property of Riot Games.</div>