<!doctype html>
<!-- public/views/champion.html -->
<h1>{{championData.name}} Statistics</h1>
<a ui-sref="statistic({region:region})" ui-sref-opts="{reload: true}">Back to overview</a>
<h2>Total champion points {{championStatistic.totalChampionPoints | number}} with {{championStatistic.totalPlayers}} active players</h2>
<table ng-table="tableParams" class="table" show-filter="false">
    <tr ng-repeat="entry in $data">
        <td title="'Summoner name'" filter="{ summonerName: 'text'}" sortable="'summonerName'">
            {{entry.summonerName}}
        </td>
        <td title="'Champion points'" sortable="'championPoints'">
            {{entry.championPoints | number}}
        </td>
    </tr>
</table>